<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-3.5 col-md-3">

      </div>
      <div class="col-lg-9 col-md-9">
        <div class="mainmenu">
          <nav>
            <ul>
              <li><a routerLink="/index">Home</a></li>
              <li><a routerLink="/cshop">Shop</a></li>
              <li><a routerLink="/cproduct">Product</a></li>
              <li><a routerLink="/cart">Cart</a></li>
              <li><a routerLink="/cmywish/shop">My Favorite</a></li>
              <li><a routerLink="/orderlist/now">Order</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

