
<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="mainmenu-left visible-lg  visible-md">
          <div class="product-menu-title">
            <h2>All categories <i class="fa fa-arrow-circle-down"></i></h2>
          </div>
          <div class="product_vmegamenu">
            <ul>
              <li>
                <a routerLink="/cproduct/0/none"><img src="../../assets/img/menu-l/4.png" alt="" style="margin-left:0px; padding:10px"/> TV & Home Theater</a></li>
              <li>
                <a routerLink="/cproduct/1/none"><img src="../../assets/img/menu-l/6.png" alt="" style="margin-left:0px; padding:10px"/> Computers & Tablets</a></li>
              <li>
                <a routerLink="/cproduct/2/none"><img src="../../assets/img/menu-l/7.png" alt="" style="margin-left:0px; padding:10px"/> Cell Phones </a>
              </li>
              <li>
                <a routerLink="/cproduct/3/none"><img src="../../assets/img/menu-l/3.png" alt="" style="margin-left:0px; padding:10px"/> Cameras & Camcorders</a>
              </li>
              <li>
                <a routerLink="/cproduct/4/none"><img src="../../assets/img/menu-l/5.png" alt="" style="margin-left:0px; padding:10px"/> Audio</a>
              </li>
              <li>
                <a routerLink="/cproduct/5/none"><img src="../../assets/img/menu-l/1.png" alt="" style="margin-left:0px; padding:10px"/> Car Electronics & GPS</a>
              </li>
              <li>
                <a routerLink="/cproduct/6/none"><img src="../../assets/img/menu-l/4.png" alt="" style="margin-left:0px; padding:10px"/> Video,Games,Movies&Music</a>
              </li>
              <li>
                <a routerLink="/cproduct/7/none"><img src="../../assets/img/menu-l/8.png" alt="" style="margin-left:0px; padding:10px"/> Health, Fitness & Sports</a>
              </li>
              <li>
                <a routerLink="/cproduct/8/none"><img src="../../assets/img/menu-l/2.png" alt="" style="margin-left:0px; padding:10px"/> Home & Office</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <div class="mainmenu">
          <nav>
            <ul>
              <li><a routerLink="/index">Home</a></li>
              <li><a routerLink="/cshop">Shop</a></li>
              <li><a routerLink="/cproduct">Product</a></li>
              <li><a routerLink="/cart">Cart</a></li>
              <li><a routerLink="/cmywish/shop">My Favorite</a></li>
              <li><a routerLink="/orderlist/now">Order</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

