<app-so-header></app-so-header>
<!--menu-area-start-->
<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-so-main-menu></app-so-main-menu>
      </div>
      <div class="col-md-9 pad">
        <div class="breadcrumb">
          <li><a class="color2" routerLink="/index"><i class="fa fa-home color1"></i> Home </a></li>
          <li><a class="color2" routerLink="/ShopOwnerCenter">ShopOwnerCenter </a></li>
          <li class="active color1">See Shop </li>
        </div>
      </div>
    </div>
  </div>
</div>
<!--menu-area-end-->
<!--main-area-start-->
<div style="background: white">

  <div class="slider-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <div class="ant-col-md-24">
            <nz-table #basicTable  [nzData]="[{}]"  [nzNoResult]="nothing">
              <thead>
              <tr>
                <th nzWidth="20%"></th>
                <th nzWidth="80%"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Shop Category</td>
                <td>{{shopCategory}}</td>
              </tr>
              <tr>
                <td>Shop Name</td>
                <td>{{shopName}}</td>
              </tr>
              <tr>
                <td>Shop Address</td>
                <td>{{shopAddress}}</td>
              </tr>
              <tr>
                <td>Shop Email</td>
                <td>{{shopEmail}}</td>
              </tr>
              <tr>
                <td>Shop Phone</td>
                <td>{{shopPhone}}</td>
              </tr>
              </tbody>
            </nz-table>
            <button mat-fab color="primary" routerLink="/editShop">Edit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-fab color="accent" routerLink="/cproduct/0/{{id}}/shop">Go</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

<!--main-area-end-->
