.pad{
  padding: 0px 15px;
}

.breadcrumb{
  background-color: #444444;
  margin-bottom: 0;
  border-radius: 0;
  padding: 17px 15px;
}

.color1{
  color: #ffffff;
}
.color2{
  color: #cccccc;
}

input{
  height: 20px;
}
.mat-column-id {
  max-width: 10%;
}

.mat-column-gmtCreate {
  max-width: 20%;
  max-height: 130%;
}

.mat-column-total_price{
  max-width: 10%;
  max-height: 130%;
}
.mat-column-delivered{
  max-width: 12%;  max-height: 130%;
}
.mat-column-products{
  max-width: 35%;  max-height: 130%;
}
.mat-column-detail{
  max-width: 13%;  max-height: 130%;
}
