<div>
  <h1 style="color:black" >Find the password</h1>
    <p>
    <input placeholder="input your username here:" [(ngModel)]="input_nick" name="input_nick">
    </p>
    <p>
    <input placeholder="input your phone here:" [(ngModel)]="input_phone" name="input_phone">
    </p>
    <p>
    <button mat-button style="color: white;background-color: #9d9d9d" (click)=send_verify_code2()>send the verification code</button>
    </p>
    <!--<mat-form-field>-->
      <input placeholder="Input the verification code" [(ngModel)]="got_code" name="got_code">
    <!--</mat-form-field>-->
    <br>
    <label style="color: white;">reset the password</label>
    <br>
    <!--<mat-form-field>-->
      <p>
      <input placeholder="Enter new password" type="password" [(ngModel)]="input_password">
      </p>
    <!--</mat-form-field>-->
    <p>Hint: Password must be 8~16 numbers and letters</p>
    <button mat-button (click)="onNoClick()">return</button>
    <button mat-button (click)="changeP()">Confirm</button>
</div>
