.s1{
  padding: 0 15px;
}

.breadcrumb{
  background-color: #444444;
  margin-bottom: 0;
  border-radius: 0;
  padding: 17px 15px;
}

.color1{
  color: #ffffff;
}
.color2{
  color: #cccccc;
}

.fontcenter{
  vertical-align: center;
}

.s2{
  border: 1px solid #eaeaea;
  background: #ffffff;
  font-size: 50px;
  font-family: "Arial Black";
  padding: 17px 25px;
}


