.owner-title{
  color: #ffffff;
  display: block;
  font-size: 25px;
  font-weight: 500;
  padding: 17px 15px;
  text-transform: capitalize;
  transition: all .3s;
  font-family: "Zapfino";
}

.color1{
  color: #ffffff;
}
.color2{
  color: #cccccc;
}

.padding{
  padding: 0 0;
}

.breadcrumb{
  background:transparent;
}

.loginfont{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.set-center{
  text-align: center;
}

.btn-padding{
  padding-left: 10%;
  padding-right: 10%;
}


.c1{
  color:#3f9b77;
}
