<div class="newletter-area ptb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="newletter-logo">
          <a routerLink="index"><img src="../../assets/img/logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="subscribe-form">
          <form action="#">
            <input placeholder="Email address..." type="text">
            <button class="subscribe">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
