<app-main-header></app-main-header>
<app-mobile-menu></app-mobile-menu>

<div class="breadcrumb-area">
  <div class="container">
    <ol class="breadcrumb">
      <li><a routerLink="/orderlist/now"><i class="fa fa-home"></i> Order List</a></li>
      <li class="active">Order Detail</li>
    </ol>
  </div>
</div>

<div class="cart-main-area pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="#">
          <div class="table-content table-responsive" *ngIf="this.cando == true">
            <table>
              <thead>
              <tr>
                <th class="product-price">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Unit Price</th>
                <th class="product-price">Amount</th>
                <th class="product-price">Total Price</th>
                <th class="product-price">Comment</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let mydetail of detailstate.body.data">
                <td class="product-thumbnail"><a routerLink="/cdetail/{{mydetail.id}}"><img src="http://47.106.108.89:8086/static/{{mydetail.picFilename}}" alt="" /></a></td>
                <td class="product-name"><a routerLink="/cdetail/{{mydetail.id}}">{{mydetail.title}}</a></td>
                <td class="product-price"><span class="amount">${{mydetail.price}}</span></td>
                <td class="product-price"><span class="amount">{{mydetail.num}}</span></td>
                <td class="product-price"><span class="amount">${{mydetail.price * mydetail.num}}</span></td>
                <td class="product-remove" *ngIf="confirm==1"><button nz-button nzType="primary" (click)="showModal(mydetail.id)">Comment
                  <nz-modal
                    [(nzVisible)]="isVisible"
                    nzTitle="Comments"
                    nzOkText="Ok"
                    nzCancelText="Cancel"
                    (nzOnOk)="handleOk()"
                    (nzOnCancel)="handleCancel()">
                    <mat-card>
                      <nz-rate name="value" [(ngModel)]="value"></nz-rate>
                      <span *ngIf="value" class="ant-rate-text">{{ value }} stars</span>
                      <mat-form-field style="width: 100%;background-color: white" >
                        <input matInput
                               placeholder="Comments" name="edit_com" [(ngModel)]="edit_com" style="background-color: white">
                        <mat-icon matSuffix>mode_edit </mat-icon>
                      </mat-form-field>
                    </mat-card>
                  </nz-modal>
                </button></td>
                <td class="product-remove" *ngIf="confirm==0"><button nz-button nzType="primary" (click)="showModal(mydetail.id)" disabled>Comment</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
